
@import "~normalize.css" ;
@import "fonts.css";


body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.container {
    padding: 20px 40px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.webpack-logo {
    background-image: url(../assets/icon-square-big.png);
    background-size: 100% 100% ;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    
}
.code { 
    color: darkred;
    text-overflow: ellipsis;
    
}